html {
  font-family: "Georgia serif";
}

.banner-content {
  color: #fff;
  background-color: #495562;
}

.btn {
  border: solid 4px;
  border-color: #97a49b;
  color: #fff;
  text-decoration: none;
}

@media only screen and (min-width: 60em) {

  .banner {
    max-height: 500px;
    overflow: hidden;
  }

  .banner-content {
    background-color: transparent;
    background-image: linear-gradient(to bottom, transparent, rgba(73, 85, 98, .9));
    position: absolute;
    left: 0;
    bottom: 0;
  }

  .btn {
    border-color: #efefef;
    position: absolute;
    right: 0;
  }

}
